.account {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    a{
      display: inline-block;
      transition: all .3s ease-in;
    }

    a:hover {
      background: var(--neutral-grayededed);
    }
}
