.btn,
a.btn {
  display: inline-block;
  padding: 8px;
  min-width: 185px;
  height: 40px;
  border-radius: 6px;

  background: var(--white);
  transition: background 0.3s ease;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);

  &:hover {
    -webkit-box-shadow: 1px 5px 14px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 5px 14px 4px rgba(0, 0, 0, 0.6);
    background: transparent;
    color: var(--white);
    border: 1px solid var(--primary-primary400);
  }

  @include mobile {
    padding: 8px 9px;
    min-width: unset;
  }

  &--small {
    min-width: unset;
    padding-inline: 15px;
  }

  &--mobile-white {
    @include mobile {
      margin-top: 2px;
      padding: 8px 16px;
      &:hover {
        color: var(--black);
      }
    }
  }
}
a.btn-outline,
.btn-outline {
  display: inline-block;
  border: 1px solid var(--primary-primary-600);
  padding: 8px 16px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-primary-600);
  transition: all 0.3s ease-in;

  &:hover {
    color: var(--link-accent);
    background: var(--primary-primary50);
  }
}
