.header {
  background: var(--white);
  padding: 16px 0 18px;

	&__logo{
		flex-shrink: 0;
	}

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 
  &__nav-btn {
    display: none;
  }
}
