.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 24px;
  height: 24px;
}

.icon--search,
.icon--menu {
  fill: var(--black);
}
.icon--person,
.icon--bag {
  fill: var(--neutral-gray202020);
}
.icon--favorite {
  fill: var(--white);
  stroke-width: 2px;
  stroke: var(--neutral-gray202020);
}

  

.icon--instagram {
  fill: var(--white);
}
.icon--facebook {
  border-radius: 50px;
  fill: var(--white);
  stroke: var(--black);
}
.icon--pinterest {
    fill: var(--white);
  stroke: var(--black);
}
.icon--tiktok{
    fill: var(--white);
}
